/************* APP *****************/
/* Add relative position? */
.appContainer {
  height: 4250px;
  width: 100%;
  background: #FCFCFC;
}


/************* NAV *****************/
.navContainer {
	position: relative;
	height: 60px;
	border: 1px solid black;
}

.navTitle {
	position: absolute;
	left: 30px;
	font-size: 32px;
	font-weight: bold;
}

.searchContainer {
	position: absolute;
	right: 30px;
}



/************* COPYRIGHTS CONTAINER *****************/
.copyrightsContainer {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 50px;
}



/************* PAGINATION *****************/
.paginationContainerTop {
	position: absolute;
	right: 9%;
}

.paginationContainerBottom {
	position: absolute;
	right: 9%;
	top: 4400px;
}



/************* TILES *****************/
.tileGridContainer {
	position: absolute;
	top: 60px;
	width: 84%;
	height: 4000px;
	align: center;
	margin: 12px 8%;

	display: flex;
	flex-direction: column;
}	

.tileGridWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.tileContainer {
	height: 440px;
	width: 320px;
	display: inline-block;
	margin: 20px 0;
	background: white;
	box-shadow: 2px 6px 16px 6px rgba(0, 0, 0, 0.1);
	transition: transform .2s ease-in-out;
	a {
		text-decoration: none;
	}
}

.tileContainer:hover {
	transform: translate(0, -14px);
	transition: transform .2s ease-in-out;
}

.avatar {
	height: 30px;
	width: 30px;
	display: inline-block;
	border-radius: 50%;
	margin: 8px;
}

.name {
	display: inline-block;
}

.copyrightThumb {
	height: width;
	width: 100%;
}

.copyrightTitle {
	font-weight: bold;
	margin: 8px;
}

.copyrightDescription {
	margin: 8px;
}